.form-container {
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 45vw;
    background: rgb(224, 205, 205);
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 12px;
}

input {
    padding: 0.5rem 0;
    width: 80%;
    margin-left: 0.5rem;
}

form > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

form > div:nth-child(5) {
    margin-bottom: 50px;
}

form > button {
    background-color: #0d1117;
    border: 0;
    color: white;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 50px;
    right: 30px;
    cursor: pointer;
    bottom: 0;
    transition: all 0.3s;
}

form > button:hover {
    opacity: 0.9;
}

small {
    display: block;
    text-align: center;
    color: red;
    margin-top: 0.5rem;
}
