.navbar-conatainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    color: white;
    background: #0d1117;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
}

.navbar-ul {
    padding: 10px;
    column-gap: 10px;
    width: 60%;
}

.navbar-conatainer ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}

.link {
    text-decoration: none;
    border: none;
    font-size: 21px;
    color: white;
}

.link:hover {
    color: aqua;
}
